<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @command.name %>
</p>

<p>
  <strong>Argument:</strong>
  <%= @command.argument %>
</p>

<p>
  <strong>Color:</strong>
  <%= @command.color %>
</p>

<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
