<!DOCTYPE html>
<html>
<head>
  <title>Git Good</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= asset_path('logo.png') %>" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown navbar-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>
          Team<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a class='team' href='https://github.com/ryryqtpi'><img class='avatar' alt='github avatar' src='https://avatars0.githubusercontent.com/u/6321263?v=3'>
              <span class="user">ryryqtpi<span class="name">Ryan Feldman</span></span></a>
          </li>
          <li>
            <a class='team' href='https://github.com/cashc'><img class='avatar' alt='github avatar' src='https://avatars1.githubusercontent.com/u/11993240?v=3'>
              <span class="user">cashc<span class="name">Cash Compton</span></span></a>
          </li>
          <li>
            <a class='team' href='https://github.com/tammiet'><img class='avatar' alt='github avatar' src='https://avatars2.githubusercontent.com/u/14841815?v=3'>
              <span class="user">tammiet<span class="name">Tammie Thong</span></span></a>
        </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

  <%= yield %>

</body>
</html>